* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.section-1-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
	max-width: 100%;
	padding: 20px 0;
	margin: 0 auto;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
	max-width: 100%;
	margin: 0 auto;
    gap: 45px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.hero-title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 49px;
}

.hero-subtext {
    color: #e5e7eb;
    margin-bottom: 8px;
}

.signup {
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 8px;
    border: 0;
}

.hero-right {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    flex: 1.24;
}

.image {
    color: #f9faf8;
    text-align: center;
}


.section-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    padding: 0 120px;
}

.section-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.cube-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.cube-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 170px;
}

.cube {
    width: 170px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 8px;
}

.cube-subtext {
    text-align: center;
    color: #4B5563;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    background-color: #e5e7eb;
}

.quote {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.section-4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 60px 120px;
    max-width: 1050px;
	width: 100%;
    gap: 20px;
}

.modal-left {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.modal-title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
}

.modal-subtext {
    color: #e5e7eb;
}

.modal-right {
    display: flex;
}

.section-5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}