body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 20%;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    display: flex;
    color: white;
    background-color: #1F2937;
    padding: 120px 20%;
    justify-content: space-between;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 460px;
}

.banner-title {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.banner-text {
    color: #E5E7EB;
    padding-bottom: 10px;
}

.signup {
    padding: 10px 30px;
    border-radius: 8px;
    border: 0;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightslategray;
    width: 500px;
}

.boxes-content {
    text-align: center;
}

.boxes-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.cube {
    height: 170px;
    width: 170px;
    border: 4px solid;
    border-radius: 20px;
    border-color: #3882F6;
    margin-bottom: 10px;
}

.cube-text {
    color: slategray;
}

.quote-content {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 120px 30%;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.info-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 120px;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 180px;
}

.modal-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.modal-text {
    color: #F9FAF8;
}

.signup.modal {
    border: 2px solid white;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px 20%;
}